.reservation {
  list-style: none;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px dotted #ccc;
}

.reserve-date {
  color: rgb(125, 125, 125);
  padding: 0.5rem auto;
}

.reservations-link,
.no-reservations-link {
  color: #eb212e;
}

@media (min-width: 768px) {
  .reservation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  .reservations-link {
    justify-self: right;
  }
}
