h2 {
  margin-top: 0rem;
  margin-bottom: 0.5rem;
}

.restaurant {
  box-shadow: 5px 5px 12px 2px rgba(0, 0, 0, 0.15);
  list-style: none;
  margin: 2rem 0 3rem;
  padding: 1rem;
}

.restaurant-desc {
  margin-top: 0rem;
}

.link-reserve {
  background: #eb212e;
  border: 2px solid transparent;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  display: block;
  margin-top: 2rem;
  padding: 0.4rem 1rem;
  text-decoration: none;
  width: fit-content;
}

.link-reserve:active,
.link-reserve:hover {
  background: #fff;
  border-color: #eb212e;
  color: #eb212e;
}

@media screen and (min-width: 768px) {
  .restaurant-img {
    min-width: 12.5rem;
  }

  .container {
    max-width: 40rem;
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 2rem;
  }
}
